

.SearchBar input{

  width: 60%;
border: none;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;


}

.SearchBar button{
  margin-left:30px ;
}
.SearchBar button:hover{
    color: #000;
}
